$teal: #00885f;
$white: white;
$black: black;
$gray: gray;
$blue1: #0059ff;
$darkblue : rgb(0, 28, 84);
$darkblue2 : rgb(0, 25, 74);
$green : #1abf60;
$greenlight : #00c050;
$green2 : #14c55e;
$green3 : #4dce83;
$darkgreen : #005825;
$gray : #8c8689;
