@import "@/assets/scss/_main";


.header{
    width: 100%;
    .container{
        padding-left: 0px;
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}